* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* shared styles */
.container {
  max-width: 1414px;
  margin:0 auto;
}

.display-flex {
  display: flex;
  margin: 0 auto;
}

/* banner styles */
.banner {
  align-items: center;
  background-color: rgb(22, 22, 22);
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom:100px;
  border-radius: 30px;
}
.banner-left {
  padding-left: 125px;
}
.banner-title {
  font-size: 4.375rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  max-width: 568px;
  line-height: 80px;
  margin-bottom: 19px;
}
.banner-subtitle {
  font-weight: 400;
  color: rgb(255, 255, 255);
  max-width: 541px;
  margin-bottom: 30px;
}
.btn-banner {
  font-size: 1.25rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: rgb(221, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 16px 25px;
}
.banner-right img {
  width: 100%;
}
.cards-info{
  padding-left:20px;
  padding-bottom:20px;
}
/* upcoming match related styles */
.upcoming-matches{
  display:flex;
  gap:55px;
  margin-bottom:130px;
}
.upcoming-matches-left{
  background-color:black;
  display:flex;
  flex-direction:column;
  width:25%;
  gap:30px;
  padding:30px;
  border-radius: 10px;
  height:fit-content;
}
.upcoming-matches-left .btn{
  padding:17px 39px;
  border-radius:10px;
  font-size:20px;
  font-weight:500;
  border:none;
}
.upcoming-matches-left .btn:nth-child(3){
  background-color: rgb(221, 0, 0);
}
.upcoming-matches-right{
  flex:1;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  column-gap: 56px;
  row-gap: 24px;
}
.upcoming-matches-right img{
  width:100%;
  height:175px;
  border-radius:10px 10px 0 0;
}
.card-bottom{
  display:flex;
  gap:41px;
  color:rgba(22, 22, 22, 0.8);
}
.btn-transfer{
  font-weight:500;
  padding:4px 17px;
  border-radius:5px;
  border:1px solid black;
  display:block;
  margin-bottom:15px;
}
.upcoming-matches-card h2{
  font-size:18px;
  font-weight: 600;
  margin-bottom:20px;
}
.upcoming-matches-card{
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px rgba(228, 224, 224, 0.75);
}
.card-body{
  padding:20px;
}

/* responsive media query */
/* for mobile */
@media screen and (max-width: 576px) {
  /* banner */
  .banner {
    flex-direction: column;
    margin-top: 44px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border-radius: 10px;
  }
  .banner-left {
    padding-left: 0;
    padding-top: 30px;
  }
  .banner-title {
    font-size: 3.125rem;
    font-weight: 600;
    line-height: 50px;
  }
  .banner-subtitle {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  .banner-right {
    margin-top: 40px;
  }
  .banner-right img {
    padding-left: 63px;
    padding-right: 38px;
  }
}

/* for tablet */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .banner {
    gap: 27px;
    margin-top: 50px;
    margin-bottom: 70px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .banner-left {
    margin-left: 76px;
    margin-top: 61px;
    margin-bottom: 61px;
    padding-left: 0px;
  }
  .banner-title {
    font-size: 2.5rem;
    line-height: 50px;
  }
  .banner-subtitle {
    font-size: 0.875rem;
  }
  .btn-banner {
    padding: 12px;
  }
  .banner-right img {
    display: block;
    padding-right: 17px;
  }
}
